.calculator {
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    font-size: 2.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #ccc;
}

.calculator-keys button {
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
}

.calculator-keys button:hover {
    background-color: #eee;
}

.operator {
    background-color: #f0f0f0;
}

.equal-sign {
    background-color: #28a745;
    color: #fff;
    grid-area: 2 / 4 / 6 / 5; /* This spans the button across multiple rows */
    height: 100%;
}

.all-clear {
    background-color: #dc3545;
    color: #fff;
}
